@model List<Product>;


<section class="products sliders">
    <div class="container">
        <div class="title">
            <h2>PROJECTS</h2>
        </div>
        <div class="filter">
            <button catId="0" class="btn-gray btn-gray-active filter-item">All</button>
            @foreach (Category cat in ViewBag.CategoreList)
            {
                <button catId="@cat.CategoryId" class="btn-gray filter-item">@cat.CategoryName</button>
            }
        </div>
        <div class="bottom product-lists">
            @foreach (var item in Model)
            {
                <div class="box">
                    <div class="product-card" productId="@item.ProductId">
                        <div class="card-image">
                            <img src="/img/productsPhoto/product-img.png" alt="Product Image">
                        </div>
                        <div class="card-text">
                            <h3>@item.ProductName</h3>
                            <p>@item.ProductInfo</p>
                        </div>
                        <div class="card-btn">
                            <a class="btn btn-medium btn-blue" href="/home/productInfo/@item.ProductId">Learn more</a>
                        </div>
                    </div>
                </div>
            }
            
        </div>
    </div>
</section>