@model Project

<section class="product-info">
    <div class="container">
        <div class="photos">
            <div class="big-photo">
                <img src="/img/projectsPhoto/@Model.ProjectPhotos.FirstOrDefault().ProjectPhotoName" alt="">
            </div>
            <div class="mini-photos">
                @foreach (ProjectPhoto photo in Model.ProjectPhotos)
                {
                    <div class="item">
                        <img src="/img/projectsPhoto/@photo.ProjectPhotoName" alt="">
                    </div>
                }
            </div>
        </div>
        <div class="info">
            <h1>@Model.ProjectName</h1>
            <p>@Model.ProjectInfo</p>
            @* <ul>
                <li>
                    <svg width="31" height="31" viewBox="0 0 31 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="31" height="31" rx="10" fill="#A1AEB6" />
                        <g clip-path="url(#clip0_238_1167)">
                            <path d="M9.74336 18.7752C8.51982 17.5517 7.90804 16.9399 7.6804 16.1462C7.45276 15.3524 7.64731 14.5094 8.03639 12.8233L8.26078 11.851C8.58811 10.4326 8.75179 9.72331 9.23745 9.23764C9.72313 8.75197 10.4324 8.5883 11.8508 8.26096L12.8232 8.03658C14.5092 7.64749 15.3523 7.45294 16.146 7.68059C16.9397 7.90822 17.5515 8.52 18.775 9.74354L20.2235 11.192C22.3523 13.3208 23.4166 14.3852 23.4166 15.7078C23.4166 17.0305 22.3523 18.0949 20.2235 20.2236C18.0947 22.3524 17.0303 23.4168 15.7076 23.4168C14.385 23.4168 13.3206 22.3524 11.1918 20.2236L9.74336 18.7752Z"
                                  stroke="white" stroke-width="1.4" />
                            <path d="M13.9336 14.1489C14.552 13.5306 14.552 12.528 13.9336 11.9097C13.3153 11.2914 12.3128 11.2914 11.6945 11.9097C11.0761 12.528 11.0761 13.5306 11.6945 14.1489C12.3128 14.7672 13.3153 14.7672 13.9336 14.1489Z"
                                  stroke="white" stroke-width="1.4" />
                            <path d="M15.1372 20.6458L20.6623 15.1206" stroke="white" stroke-width="1.4"
                                  stroke-linecap="round" />
                        </g>
                        <defs>
                            <clipPath id="clip0_238_1167">
                                <rect width="19" height="19" fill="white" transform="translate(6 6)" />
                            </clipPath>
                        </defs>
                    </svg>
                    @Model.ProjetInfo
                </li>
                <li>
                    <svg width="31" height="31" viewBox="0 0 31 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="31" height="31" rx="10" fill="#A1AEB6" />
                        <g clip-path="url(#clip0_238_1167)">
                            <path d="M9.74336 18.7752C8.51982 17.5517 7.90804 16.9399 7.6804 16.1462C7.45276 15.3524 7.64731 14.5094 8.03639 12.8233L8.26078 11.851C8.58811 10.4326 8.75179 9.72331 9.23745 9.23764C9.72313 8.75197 10.4324 8.5883 11.8508 8.26096L12.8232 8.03658C14.5092 7.64749 15.3523 7.45294 16.146 7.68059C16.9397 7.90822 17.5515 8.52 18.775 9.74354L20.2235 11.192C22.3523 13.3208 23.4166 14.3852 23.4166 15.7078C23.4166 17.0305 22.3523 18.0949 20.2235 20.2236C18.0947 22.3524 17.0303 23.4168 15.7076 23.4168C14.385 23.4168 13.3206 22.3524 11.1918 20.2236L9.74336 18.7752Z"
                                  stroke="white" stroke-width="1.4" />
                            <path d="M13.9336 14.1489C14.552 13.5306 14.552 12.528 13.9336 11.9097C13.3153 11.2914 12.3128 11.2914 11.6945 11.9097C11.0761 12.528 11.0761 13.5306 11.6945 14.1489C12.3128 14.7672 13.3153 14.7672 13.9336 14.1489Z"
                                  stroke="white" stroke-width="1.4" />
                            <path d="M15.1372 20.6458L20.6623 15.1206" stroke="white" stroke-width="1.4"
                                  stroke-linecap="round" />
                        </g>
                        <defs>
                            <clipPath id="clip0_238_1167">
                                <rect width="19" height="19" fill="white" transform="translate(6 6)" />
                            </clipPath>
                        </defs>
                    </svg>
                    @Model.ProjetInfo
                </li>
                <li>
                    <svg width="31" height="31" viewBox="0 0 31 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="31" height="31" rx="10" fill="#A1AEB6" />
                        <g clip-path="url(#clip0_238_1167)">
                            <path d="M9.74336 18.7752C8.51982 17.5517 7.90804 16.9399 7.6804 16.1462C7.45276 15.3524 7.64731 14.5094 8.03639 12.8233L8.26078 11.851C8.58811 10.4326 8.75179 9.72331 9.23745 9.23764C9.72313 8.75197 10.4324 8.5883 11.8508 8.26096L12.8232 8.03658C14.5092 7.64749 15.3523 7.45294 16.146 7.68059C16.9397 7.90822 17.5515 8.52 18.775 9.74354L20.2235 11.192C22.3523 13.3208 23.4166 14.3852 23.4166 15.7078C23.4166 17.0305 22.3523 18.0949 20.2235 20.2236C18.0947 22.3524 17.0303 23.4168 15.7076 23.4168C14.385 23.4168 13.3206 22.3524 11.1918 20.2236L9.74336 18.7752Z"
                                  stroke="white" stroke-width="1.4" />
                            <path d="M13.9336 14.1489C14.552 13.5306 14.552 12.528 13.9336 11.9097C13.3153 11.2914 12.3128 11.2914 11.6945 11.9097C11.0761 12.528 11.0761 13.5306 11.6945 14.1489C12.3128 14.7672 13.3153 14.7672 13.9336 14.1489Z"
                                  stroke="white" stroke-width="1.4" />
                            <path d="M15.1372 20.6458L20.6623 15.1206" stroke="white" stroke-width="1.4"
                                  stroke-linecap="round" />
                        </g>
                        <defs>
                            <clipPath id="clip0_238_1167">
                                <rect width="19" height="19" fill="white" transform="translate(6 6)" />
                            </clipPath>
                        </defs>
                    </svg>
                    @Model.ProjectInfo
                </li>
                <li>
                    <svg width="31" height="31" viewBox="0 0 31 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="31" height="31" rx="10" fill="#A1AEB6" />
                        <g clip-path="url(#clip0_238_1167)">
                            <path d="M9.74336 18.7752C8.51982 17.5517 7.90804 16.9399 7.6804 16.1462C7.45276 15.3524 7.64731 14.5094 8.03639 12.8233L8.26078 11.851C8.58811 10.4326 8.75179 9.72331 9.23745 9.23764C9.72313 8.75197 10.4324 8.5883 11.8508 8.26096L12.8232 8.03658C14.5092 7.64749 15.3523 7.45294 16.146 7.68059C16.9397 7.90822 17.5515 8.52 18.775 9.74354L20.2235 11.192C22.3523 13.3208 23.4166 14.3852 23.4166 15.7078C23.4166 17.0305 22.3523 18.0949 20.2235 20.2236C18.0947 22.3524 17.0303 23.4168 15.7076 23.4168C14.385 23.4168 13.3206 22.3524 11.1918 20.2236L9.74336 18.7752Z"
                                  stroke="white" stroke-width="1.4" />
                            <path d="M13.9336 14.1489C14.552 13.5306 14.552 12.528 13.9336 11.9097C13.3153 11.2914 12.3128 11.2914 11.6945 11.9097C11.0761 12.528 11.0761 13.5306 11.6945 14.1489C12.3128 14.7672 13.3153 14.7672 13.9336 14.1489Z"
                                  stroke="white" stroke-width="1.4" />
                            <path d="M15.1372 20.6458L20.6623 15.1206" stroke="white" stroke-width="1.4"
                                  stroke-linecap="round" />
                        </g>
                        <defs>
                            <clipPath id="clip0_238_1167">
                                <rect width="19" height="19" fill="white" transform="translate(6 6)" />
                            </clipPath>
                        </defs>
                    </svg>
                    @Model.ProjectInfo
                </li>
             </ul> *@
        </div>
    </div>
</section>