<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/site.css">
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>

</head>

<body>
    <nav class="nav-scrolled">
        <div class="container">
            <div class="nav-left">
                <a href="/home/index"><img src="/img/GLOSYS-dark.png" alt="GLOSYS LOGO"></a>
                <ul class="nav-menu">
                    <li class="nav-item"><a class="nav-link" href="/home/index">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="@(User.Identity.IsAuthenticated ? "/admin/adminproduct" :"/home/products")">Products</a></li>
                    <li class="nav-item"><a class="nav-link" href="@(User.Identity.IsAuthenticated ? "/admin/adminproject" :"/home/projects")">Projects</a></li>
                    @* <li class="nav-item"><a class="nav-link" href="@(User.Identity.IsAuthenticated ? "/admin/adminservice" :"/home/services")">Services</a></li> *@
                    <li class="nav-item"><a class="nav-link" href="@(User.Identity.IsAuthenticated ? "/admin/adminGallery" :"/home/Gallery")">Gallery</a></li>
                    <li class="nav-item"><a class="nav-link" href="/home/about">About</a></li>
                    <li class="nav-item"><a class="nav-link" href="/home/contacts">Contacts</a></li>
                    @* <li class="nav-item solutions">
                        IT Solutions
                        <i class="fa-solid fa-angle-down"></i>
                        <div class="dropdown">
                            <ul>
                                <li><a href="" class="dropdown-item">Data Center Solutions</a></li>
                                <li><a href="" class="dropdown-item">Network Infrastructure Solutions</a></li>
                                <li><a href="" class="dropdown-item">Business Continuity Solutions</a></li>
                                <li><a href="" class="dropdown-item">Power & Cooling Systems</a></li>
                                <li><a href="" class="dropdown-item">Audio & Video Solutions</a></li>
                            </ul>
                        </div>
                    </li> *@
                </ul>
            </div>
            <div class="nav-right">
                <label for="search">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M13.3333 13.3333L10.5355 10.5355C10.5355 10.5355 9.33333 12 7 12C4.23857 12 2 9.7614 2 7C2 4.23857 4.23857 2 7 2C9.7614 2 12 4.23857 12 7C12 7.34247 11.9656 7.67687 11.9 8"
                              stroke="#002E4C" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                    <input type="text" id="search" placeholder="Search">
                    <span>Search</span>
                </label>
                <div class="lang">
                    <span>
                        EN
                        <i class="fa-solid fa-angle-down"></i>
                    </span>
                    <div class="dropdown">
                        <ul>
                            <li><a class="dropdown-item dropdown-active" href="">EN</a></li>
                            <li><a class="dropdown-item" href="">AZ</a></li>
                            <li><a class="dropdown-item" href="">RU</a></li>
                        </ul>
                    </div>
                </div>
                @if (User.Identity.IsAuthenticated)
                {
                    <a href="/admin/logout" class="logout">
                        Logout
                        <i class="fa-solid fa-arrow-right-from-bracket"></i>
                    </a>
                }
            </div>
            <div class="nav-right-media">
                <svg width="22" height="22" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M13.3333 13.3333L10.5355 10.5355C10.5355 10.5355 9.33333 12 7 12C4.23857 12 2 9.7614 2 7C2 4.23857 4.23857 2 7 2C9.7614 2 12 4.23857 12 7C12 7.34247 11.9656 7.67687 11.9 8"
                          stroke="#002E4C" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </div>
        </div>
    </nav>
    @RenderBody()
    <footer>
        <div class="top">
            <div class="container">
                <div class="left">
                    <a href="/home/index"><img src="/img/logo.png" alt=""></a>
                    <ul>
                        <li><strong>Address: </strong> Ahmad Rajabli, Chinar Park, 1/69</li>
                        <li><strong>Phone: </strong> +994125001280</li>
                        <li><strong>Mobile: </strong> +994552101280</li>
                        <li><strong>Email: </strong> info@glosys.az</li>
                        <li><strong>Baku, Azerbaijan, AZ1010</strong></li>
                    </ul>
                    <ul class="icons">
                        <li>
                            <a href="">
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M13.7187 3.12823L11.6525 3.12573C9.64875 3.12573 8.35437 4.45323 8.35437 6.51011V8.06948H6.28125V10.8914H8.35437L8.35187 16.8757H11.2525L11.255 10.8914H13.6337L13.6319 8.07011H11.255V6.74698C11.255 6.11073 11.4056 5.78886 12.2337 5.78886L13.7125 5.78823L13.7187 3.12823Z"
                                          fill="#A1AEB6" />
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0_186_350)">
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                              d="M8 12C10.2091 12 12 10.2091 12 8C12 5.79086 10.2091 4 8 4C5.79086 4 4 5.79086 4 8C4 10.2091 5.79086 12 8 12ZM8 10.6667C9.47273 10.6667 10.6667 9.47273 10.6667 8C10.6667 6.52724 9.47273 5.33333 8 5.33333C6.52724 5.33333 5.33333 6.52724 5.33333 8C5.33333 9.47273 6.52724 10.6667 8 10.6667Z"
                                              fill="#A1AEB6" />
                                        <path d="M12.0002 3.33325C11.632 3.33325 11.3335 3.63173 11.3335 3.99992C11.3335 4.36811 11.632 4.66659 12.0002 4.66659C12.3684 4.66659 12.6668 4.36811 12.6668 3.99992C12.6668 3.63173 12.3684 3.33325 12.0002 3.33325Z"
                                              fill="#A1AEB6" />
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                              d="M1.10248 2.85079C0.666504 3.70643 0.666504 4.82654 0.666504 7.06675V8.93341C0.666504 11.1736 0.666504 12.2937 1.10248 13.1493C1.48597 13.902 2.09789 14.5139 2.85054 14.8974C3.70619 15.3334 4.8263 15.3334 7.0665 15.3334H8.93317C11.1734 15.3334 12.2935 15.3334 13.1491 14.8974C13.9018 14.5139 14.5137 13.902 14.8972 13.1493C15.3332 12.2937 15.3332 11.1736 15.3332 8.93341V7.06675C15.3332 4.82654 15.3332 3.70643 14.8972 2.85079C14.5137 2.09813 13.9018 1.48621 13.1491 1.10272C12.2935 0.666748 11.1734 0.666748 8.93317 0.666748H7.0665C4.8263 0.666748 3.70619 0.666748 2.85054 1.10272C2.09789 1.48621 1.48597 2.09813 1.10248 2.85079ZM8.93317 2.00008H7.0665C5.9244 2.00008 5.148 2.00112 4.54789 2.05015C3.96333 2.09791 3.6644 2.18447 3.45586 2.29073C2.9541 2.54639 2.54615 2.95434 2.29048 3.45611C2.18423 3.66464 2.09766 3.96357 2.0499 4.54813C2.00088 5.14825 1.99984 5.92464 1.99984 7.06675V8.93341C1.99984 10.0755 2.00088 10.8519 2.0499 11.452C2.09766 12.0366 2.18423 12.3355 2.29048 12.5441C2.54615 13.0458 2.9541 13.4537 3.45586 13.7094C3.6644 13.8157 3.96333 13.9023 4.54789 13.95C5.148 13.999 5.9244 14.0001 7.0665 14.0001H8.93317C10.0753 14.0001 10.8516 13.999 11.4518 13.95C12.0364 13.9023 12.3353 13.8157 12.5438 13.7094C13.0456 13.4537 13.4535 13.0458 13.7092 12.5441C13.8154 12.3355 13.902 12.0366 13.9498 11.452C13.9988 10.8519 13.9998 10.0755 13.9998 8.93341V7.06675C13.9998 5.92464 13.9988 5.14825 13.9498 4.54813C13.902 3.96357 13.8154 3.66464 13.7092 3.45611C13.4535 2.95434 13.0456 2.54639 12.5438 2.29073C12.3353 2.18447 12.0364 2.09791 11.4518 2.05015C10.8516 2.00112 10.0753 2.00008 8.93317 2.00008Z"
                                              fill="#A1AEB6" />
                                    </g>
                                    <defs>
                                        <clipPath id="clip0_186_350">
                                            <rect width="16" height="16" fill="white" />
                                        </clipPath>
                                    </defs>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <svg width="14" height="14" viewBox="0 0 14 14" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0_186_393)">
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                              d="M14 14H11.2V9.10068C11.2 7.75668 10.6071 7.00684 9.5438 7.00684C8.3867 7.00684 7.7 7.78818 7.7 9.10068V14H4.9V4.9H7.7V5.92334C7.7 5.92334 8.5785 4.38184 10.5581 4.38184C12.5384 4.38184 14 5.59027 14 8.09067V14ZM1.7094 3.44463C0.765101 3.44463 0 2.67327 0 1.72197C0 0.771373 0.765101 0 1.7094 0C2.653 0 3.4181 0.771373 3.4181 1.72197C3.4188 2.67327 2.653 3.44463 1.7094 3.44463ZM0 14H3.5V4.9H0V14Z"
                                              fill="#A1AEB6" />
                                    </g>
                                    <defs>
                                        <clipPath id="clip0_186_393">
                                            <rect width="14" height="14" fill="white" />
                                        </clipPath>
                                    </defs>
                                </svg>

                            </a>
                        </li>
                        <li>
                            <a href="">
                                <svg width="18" height="18" viewBox="0 0 18 18" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0_186_445)">
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                              d="M7.22627 5.55158C7.00704 5.4263 6.7377 5.4272 6.5193 5.55394C6.30092 5.68067 6.1665 5.91408 6.1665 6.16658V11.8333C6.1665 12.0858 6.30092 12.3192 6.5193 12.4459C6.7377 12.5726 7.00704 12.5735 7.22627 12.4482L12.1846 9.61489C12.4053 9.48881 12.5415 9.25414 12.5415 8.99992C12.5415 8.7457 12.4053 8.51102 12.1846 8.38494L7.22627 5.55158ZM10.4055 8.99992L7.58317 10.6126V7.38717L10.4055 8.99992Z"
                                              fill="#A1AEB6" />
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                              d="M0.5 9C0.5 6.34394 0.5 5.01591 1.1764 4.08492C1.39484 3.78426 1.65926 3.51984 1.95992 3.30139C2.89091 2.625 4.21894 2.625 6.875 2.625H11.125C13.781 2.625 15.1091 2.625 16.0401 3.30139C16.3407 3.51984 16.6052 3.78426 16.8236 4.08492C17.5 5.01591 17.5 6.34394 17.5 9C17.5 11.656 17.5 12.9841 16.8236 13.9151C16.6052 14.2157 16.3407 14.4802 16.0401 14.6986C15.1091 15.375 13.781 15.375 11.125 15.375H6.875C4.21894 15.375 2.89091 15.375 1.95992 14.6986C1.65926 14.4802 1.39484 14.2157 1.1764 13.9151C0.5 12.9841 0.5 11.656 0.5 9ZM6.875 4.04167H11.125C12.4846 4.04167 13.3905 4.04361 14.0768 4.11798C14.7367 4.18947 15.0237 4.31401 15.2074 4.44751C15.3877 4.57858 15.5464 4.73722 15.6775 4.91762C15.811 5.10137 15.9355 5.3883 16.007 6.04816C16.0814 6.73452 16.0833 7.64042 16.0833 9C16.0833 10.3596 16.0814 11.2655 16.007 11.9518C15.9355 12.6117 15.811 12.8987 15.6775 13.0824C15.5464 13.2627 15.3877 13.4214 15.2074 13.5525C15.0237 13.686 14.7367 13.8105 14.0768 13.882C13.3905 13.9564 12.4846 13.9583 11.125 13.9583H6.875C5.51541 13.9583 4.60952 13.9564 3.92316 13.882C3.2633 13.8105 2.97637 13.686 2.79262 13.5525C2.61222 13.4214 2.45358 13.2627 2.32251 13.0824C2.18901 12.8987 2.06447 12.6117 1.99298 11.9518C1.91861 11.2655 1.91667 10.3596 1.91667 9C1.91667 7.64042 1.91861 6.73452 1.99298 6.04816C2.06447 5.3883 2.18901 5.10137 2.32251 4.91762C2.45358 4.73722 2.61222 4.57858 2.79262 4.44751C2.97637 4.31401 3.2633 4.18947 3.92316 4.11798C4.60952 4.04361 5.51541 4.04167 6.875 4.04167Z"
                                              fill="#A1AEB6" />
                                    </g>
                                    <defs>
                                        <clipPath id="clip0_186_445">
                                            <rect width="17" height="17" fill="white" transform="translate(0.5 0.5)" />
                                        </clipPath>
                                    </defs>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="right">
                    <div class="item">
                        <h3>IT SOLUTIONS</h3>
                        <ul>
                            <li><a href="">Data Center Solutions</a></li>
                            <li><a href="">Network Infrastructure Solutions</a></li>
                            <li><a href="">Business Continuity Solutions</a></li>
                            <li><a href="">Power & Cooling Systems</a></li>
                            <li><a href="">Security Solutions</a></li>
                            <li><a href="">IoT Solutions</a></li>
                            <li><a href="">Structured Cabling Solutions</a></li>
                            <li><a href="">Retail</a></li>
                        </ul>
                    </div>
                    <div class="item">
                        <h3>SERVICES</h3>
                        <ul>
                            <li><a href="/home/products">Products</a></li>
                            <li><a href="">Solutions</a></li>
                            <li><a href="">IT Supporty Services</a></li>
                            <li><a href="">Web Design</a></li>
                        </ul>
                    </div>
                    <div class="item">
                        <h3>ABOUT US</h3>
                        <ul>
                            <li><a href="/home/contacts">Contacts</a></li>
                            <li><a href="">News</a></li>
                            <li><a href="">Timeline</a></li>
                            <li><a href="">Career</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom">
            <p>Copyright © 2024, NaN Agency. All Rights Reserved</p>
        </div>
    </footer>
    <div class="media-menu">
        <a href="/home/index">
            <svg xmlns="http://www.w3.org/2000/svg" width="27" height="26" viewBox="0 0 27 26" fill="none">
                <path d="M10.25 17.3333C11.1712 18.0162 12.2917 18.4167 13.5 18.4167C14.7084 18.4167 15.8287 18.0162 16.75 17.3333" stroke="#C2CACF" stroke-width="2" stroke-linecap="round" />
                <path d="M24.3333 13.2209V14.8687C24.3333 19.0946 24.3333 21.2076 23.0641 22.5204C21.795 23.8333 19.7521 23.8333 15.6667 23.8333H11.3333C7.24781 23.8333 5.20507 23.8333 3.93586 22.5204C2.66666 21.2076 2.66666 19.0946 2.66666 14.8687V13.2209C2.66666 10.7418 2.66666 9.50221 3.22912 8.47462C3.79159 7.44705 4.81919 6.80929 6.87436 5.5338L9.04102 4.1891C11.2135 2.8408 12.2998 2.16666 13.5 2.16666C14.7002 2.16666 15.7865 2.8408 17.959 4.1891L20.1257 5.53379C22.1808 6.80929 23.2084 7.44705 23.7709 8.47462" stroke="#C2CACF" stroke-width="2" stroke-linecap="round" />
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="27" height="26" viewBox="0 0 27 26" fill="none">
                <path d="M10.25 17.3333C11.1712 18.0162 12.2917 18.4167 13.5 18.4167C14.7084 18.4167 15.8287 18.0162 16.75 17.3333" stroke="#22C3F3" stroke-width="2" stroke-linecap="round" />
                <path d="M24.3333 13.2209V14.8687C24.3333 19.0946 24.3333 21.2076 23.0641 22.5204C21.795 23.8333 19.7521 23.8333 15.6667 23.8333H11.3333C7.24783 23.8333 5.20508 23.8333 3.93587 22.5204C2.66667 21.2076 2.66667 19.0946 2.66667 14.8687V13.2209C2.66667 10.7418 2.66667 9.50221 3.22914 8.47462C3.79161 7.44705 4.8192 6.80929 6.87437 5.5338L9.04104 4.1891C11.2135 2.8408 12.2998 2.16666 13.5 2.16666C14.7002 2.16666 15.7865 2.8408 17.959 4.1891L20.1257 5.53379C22.1809 6.80929 23.2084 7.44705 23.7709 8.47462" stroke="#22C3F3" stroke-width="2" stroke-linecap="round" />
            </svg>
        </a>
        <a href="@(User.Identity.IsAuthenticated ? "/admin/adminproduct" :"/home/products")">
            <svg xmlns="http://www.w3.org/2000/svg" width="27" height="26" viewBox="0 0 27 26" fill="none">
                <path d="M13.1672 13C15.1497 13 16.6122 11.3858 16.4172 9.40332L15.7022 2.16666H10.643L9.91719 9.40332C9.72219 11.3858 11.1847 13 13.1672 13Z" stroke="#C2CACF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M20.0034 13C22.1917 13 23.795 11.2233 23.5784 9.04582L23.275 6.06666C22.885 3.24999 21.8017 2.16666 18.9634 2.16666H15.6592L16.4175 9.76082C16.6017 11.5483 18.2159 13 20.0034 13Z" stroke="#C2CACF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M6.27707 13C8.06457 13 9.67874 11.5483 9.85207 9.76082L10.0904 7.36666L10.6104 2.16666H7.30624C4.4679 2.16666 3.38457 3.24999 2.99457 6.06666L2.70207 9.04582C2.4854 11.2233 4.08874 13 6.27707 13Z" stroke="#C2CACF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M3.42726 12.1547V17.0188C3.42726 21.883 5.37726 23.833 10.2414 23.833H16.0806C20.9448 23.833 22.8948 21.883 22.8948 17.0188V12.1547" stroke="#C2CACF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M13.1667 18.4167C11.3575 18.4167 10.4583 19.3158 10.4583 21.125V23.8333H15.875V21.125C15.875 19.3158 14.9758 18.4167 13.1667 18.4167Z" stroke="#C2CACF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="27" height="26" viewBox="0 0 27 26" fill="none">
                <path d="M13.1672 13C15.1497 13 16.6122 11.3858 16.4172 9.40332L15.7022 2.16666H10.643L9.91719 9.40332C9.72219 11.3858 11.1847 13 13.1672 13Z" stroke="#22C3F3" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M20.0034 13C22.1917 13 23.795 11.2233 23.5784 9.04582L23.275 6.06666C22.885 3.24999 21.8017 2.16666 18.9634 2.16666H15.6592L16.4175 9.76082C16.6017 11.5483 18.2159 13 20.0034 13Z" stroke="#22C3F3" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M6.27708 13C8.06458 13 9.67874 11.5483 9.85208 9.76082L10.0904 7.36666L10.6104 2.16666H7.30625C4.46791 2.16666 3.38458 3.24999 2.99458 6.06666L2.70208 9.04582C2.48541 11.2233 4.08875 13 6.27708 13Z" stroke="#22C3F3" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M3.42728 12.1547V17.0188C3.42728 21.883 5.37728 23.833 10.2414 23.833H16.0806C20.9448 23.833 22.8948 21.883 22.8948 17.0188V12.1547" stroke="#22C3F3" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M13.1667 18.4167C11.3575 18.4167 10.4583 19.3158 10.4583 21.125V23.8333H15.875V21.125C15.875 19.3158 14.9758 18.4167 13.1667 18.4167Z" stroke="#22C3F3" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
        </a>
        <a href="/home/contacts">
            <svg xmlns="http://www.w3.org/2000/svg" width="27" height="26" viewBox="0 0 27 26" fill="none">
                <path d="M15.4584 2.16666C15.4584 2.16666 17.9863 2.39646 21.2036 5.6138C24.4209 8.83114 24.6508 11.3591 24.6508 11.3591" stroke="#C2CACF" stroke-width="2" stroke-linecap="round" />
                <path d="M16.2243 5.99695C16.2243 5.99695 17.2968 6.30337 18.9054 7.91203C20.5141 9.52071 20.8206 10.5932 20.8206 10.5932" stroke="#C2CACF" stroke-width="2" stroke-linecap="round" />
                <path d="M4.8979 7.50287C4.87385 7.05479 4.4911 6.71103 4.04302 6.73508C3.59493 6.75913 3.25119 7.14189 3.27524 7.58996L4.8979 7.50287ZM5.94423 3.3498C5.6352 3.67515 5.64843 4.18942 5.97379 4.49847C6.29914 4.8075 6.81341 4.79427 7.12246 4.46891L5.94423 3.3498ZM12.3862 21.4633C12.7661 21.7021 13.2677 21.5877 13.5064 21.2078C13.7452 20.8278 13.6307 20.3262 13.2508 20.0875L12.3862 21.4633ZM17.2058 21.7299C16.7666 21.6379 16.336 21.9195 16.244 22.3587C16.1521 22.7979 16.4335 23.2285 16.8728 23.3205L17.2058 21.7299ZM17.7817 16.839L18.2751 16.3195L17.0968 15.2005L16.6035 15.7199L17.7817 16.839ZM19.8986 16.1008L21.9684 17.2922L22.779 15.8838L20.7093 14.6925L19.8986 16.1008ZM22.3678 19.762L20.8289 21.3823L22.0071 22.5014L23.546 20.8812L22.3678 19.762ZM9.88919 17.2886C5.69005 12.8676 4.98569 9.13851 4.8979 7.50287L3.27524 7.58996C3.38276 9.5933 4.23337 13.6936 8.71097 18.4077L9.88919 17.2886ZM11.3791 10.0984L11.6899 9.77126L10.5116 8.65214L10.2009 8.97926L11.3791 10.0984ZM11.934 5.69845L10.5679 3.76634L9.24103 4.70447L10.6071 6.63658L11.934 5.69845ZM10.79 9.53882C10.2009 8.97926 10.2002 8.98005 10.1994 8.98084C10.1992 8.98113 10.1984 8.98193 10.1979 8.98247C10.1969 8.98357 10.1958 8.98469 10.1947 8.98584C10.1926 8.98813 10.1904 8.99053 10.1881 8.99303C10.1836 8.99803 10.1788 9.00343 10.1737 9.00926C10.1636 9.02092 10.1524 9.03424 10.1405 9.04929C10.1167 9.07938 10.0898 9.11636 10.0615 9.16053C10.0048 9.2491 9.94337 9.36574 9.89133 9.51201C9.78547 9.80946 9.7278 10.2034 9.79987 10.6953C9.94147 11.6617 10.5747 12.9614 12.2294 14.7034L13.4076 13.5843C11.861 11.956 11.48 10.9531 11.4077 10.4597C11.3728 10.2216 11.4083 10.0962 11.4223 10.0568C11.4302 10.0347 11.4353 10.0285 11.4303 10.0364C11.4278 10.0402 11.423 10.0474 11.4148 10.0577C11.4107 10.0629 11.4057 10.0689 11.3998 10.0757C11.3969 10.0791 11.3937 10.0826 11.3903 10.0864C11.3885 10.0883 11.3867 10.0903 11.3849 10.0923C11.384 10.0933 11.383 10.0943 11.3821 10.0953C11.3816 10.0958 11.3809 10.0966 11.3806 10.0968C11.3799 10.0976 11.3791 10.0984 10.79 9.53882ZM12.2294 14.7034C13.8791 16.4403 15.1252 17.1232 16.0758 17.2775C16.5635 17.3567 16.9584 17.2935 17.2574 17.1756C17.4035 17.118 17.5192 17.0502 17.606 16.9887C17.6492 16.9579 17.6853 16.9288 17.7144 16.9033C17.729 16.8906 17.7418 16.8786 17.753 16.8678C17.7586 16.8625 17.7637 16.8573 17.7685 16.8525C17.7709 16.8502 17.7733 16.8478 17.7754 16.8455C17.7765 16.8444 17.7776 16.8433 17.7786 16.8422C17.7791 16.8417 17.7799 16.8408 17.7802 16.8406C17.7809 16.8398 17.7817 16.839 17.1926 16.2795C16.6035 15.7199 16.6042 15.7192 16.6049 15.7184C16.6052 15.7181 16.6059 15.7173 16.6064 15.7168C16.6074 15.7158 16.6083 15.7148 16.6092 15.7138C16.6112 15.7119 16.613 15.7099 16.6149 15.7081C16.6184 15.7045 16.6219 15.7011 16.6251 15.6979C16.6317 15.6916 16.6376 15.6862 16.6428 15.6817C16.6532 15.6726 16.6609 15.6667 16.6659 15.6633C16.676 15.656 16.675 15.6585 16.6611 15.6639C16.6402 15.6721 16.5418 15.7069 16.3362 15.6735C15.9002 15.6027 14.9591 15.2178 13.4076 13.5843L12.2294 14.7034ZM10.5679 3.76634C9.46983 2.21329 7.2726 1.95128 5.94423 3.3498L7.12246 4.46891C7.68886 3.87259 8.68599 3.91943 9.24103 4.70447L10.5679 3.76634ZM20.8289 21.3823C20.5265 21.7006 20.2103 21.8711 19.9029 21.9014L20.0626 23.5186C20.8718 23.4387 21.5268 23.0071 22.0071 22.5014L20.8289 21.3823ZM11.6899 9.77126C12.738 8.66769 12.8122 6.94067 11.934 5.69845L10.6071 6.63658C11.0644 7.2834 10.9943 8.14398 10.5116 8.65214L11.6899 9.77126ZM21.9684 17.2922C22.8577 17.804 23.0316 19.0632 22.3678 19.762L23.546 20.8812C24.9598 19.3928 24.548 16.902 22.779 15.8838L21.9684 17.2922ZM18.2751 16.3195C18.6926 15.8799 19.3432 15.7811 19.8986 16.1008L20.7093 14.6925C19.5193 14.0075 18.0434 14.2039 17.0968 15.2005L18.2751 16.3195ZM13.2508 20.0875C12.1851 19.4178 11.0508 18.5116 9.88919 17.2886L8.71097 18.4077C9.96117 19.7239 11.1998 20.7178 12.3862 21.4633L13.2508 20.0875ZM19.9029 21.9014C19.3108 21.9599 18.3739 21.9745 17.2058 21.7299L16.8728 23.3205C18.2253 23.6037 19.3304 23.5909 20.0626 23.5186L19.9029 21.9014Z" fill="#C2CACF" />
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="27" height="26" viewBox="0 0 27 26" fill="none">
                <path d="M15.4584 2.16666C15.4584 2.16666 17.9863 2.39646 21.2036 5.6138C24.4209 8.83114 24.6508 11.3591 24.6508 11.3591" stroke="#22C3F3" stroke-width="2" stroke-linecap="round" />
                <path d="M16.2242 5.99695C16.2242 5.99695 17.2967 6.30337 18.9054 7.91203C20.514 9.52071 20.8205 10.5932 20.8205 10.5932" stroke="#22C3F3" stroke-width="2" stroke-linecap="round" />
                <path d="M4.8979 7.50287C4.87385 7.05479 4.4911 6.71103 4.04302 6.73508C3.59493 6.75913 3.25119 7.14189 3.27524 7.58996L4.8979 7.50287ZM5.94423 3.3498C5.6352 3.67515 5.64843 4.18942 5.97379 4.49847C6.29914 4.8075 6.81341 4.79427 7.12246 4.46891L5.94423 3.3498ZM12.3862 21.4633C12.7661 21.7021 13.2677 21.5877 13.5064 21.2078C13.7452 20.8278 13.6307 20.3262 13.2508 20.0875L12.3862 21.4633ZM17.2058 21.7299C16.7666 21.6379 16.336 21.9195 16.244 22.3587C16.1521 22.7979 16.4335 23.2285 16.8728 23.3205L17.2058 21.7299ZM17.7817 16.839L18.2751 16.3195L17.0968 15.2005L16.6035 15.7199L17.7817 16.839ZM19.8986 16.1008L21.9684 17.2922L22.779 15.8838L20.7093 14.6925L19.8986 16.1008ZM22.3678 19.762L20.8289 21.3823L22.0071 22.5014L23.546 20.8812L22.3678 19.762ZM9.88919 17.2886C5.69005 12.8676 4.98569 9.13851 4.8979 7.50287L3.27524 7.58996C3.38276 9.5933 4.23337 13.6936 8.71097 18.4077L9.88919 17.2886ZM11.3791 10.0984L11.6899 9.77126L10.5116 8.65214L10.2009 8.97926L11.3791 10.0984ZM11.934 5.69845L10.5679 3.76634L9.24103 4.70447L10.6071 6.63658L11.934 5.69845ZM10.79 9.53882C10.2009 8.97926 10.2002 8.98005 10.1994 8.98084C10.1992 8.98113 10.1984 8.98193 10.1979 8.98247C10.1969 8.98357 10.1958 8.98469 10.1947 8.98584C10.1926 8.98813 10.1904 8.99053 10.1881 8.99303C10.1836 8.99803 10.1788 9.00343 10.1737 9.00926C10.1636 9.02092 10.1524 9.03424 10.1405 9.04929C10.1167 9.07938 10.0898 9.11636 10.0615 9.16053C10.0048 9.2491 9.94337 9.36574 9.89133 9.51201C9.78547 9.80946 9.7278 10.2034 9.79987 10.6953C9.94147 11.6617 10.5747 12.9614 12.2294 14.7034L13.4076 13.5843C11.861 11.956 11.48 10.9531 11.4077 10.4597C11.3728 10.2216 11.4083 10.0962 11.4223 10.0568C11.4302 10.0347 11.4353 10.0285 11.4303 10.0364C11.4278 10.0402 11.423 10.0474 11.4148 10.0577C11.4107 10.0629 11.4057 10.0689 11.3998 10.0757C11.3969 10.0791 11.3937 10.0826 11.3903 10.0864C11.3885 10.0883 11.3867 10.0903 11.3849 10.0923C11.384 10.0933 11.383 10.0943 11.3821 10.0953C11.3816 10.0958 11.3809 10.0966 11.3806 10.0968C11.3799 10.0976 11.3791 10.0984 10.79 9.53882ZM12.2294 14.7034C13.8791 16.4403 15.1252 17.1232 16.0758 17.2775C16.5635 17.3567 16.9584 17.2935 17.2574 17.1756C17.4035 17.118 17.5192 17.0502 17.606 16.9887C17.6492 16.9579 17.6853 16.9288 17.7144 16.9033C17.729 16.8906 17.7418 16.8786 17.753 16.8678C17.7586 16.8625 17.7637 16.8573 17.7685 16.8525C17.7709 16.8502 17.7733 16.8478 17.7754 16.8455C17.7765 16.8444 17.7776 16.8433 17.7786 16.8422C17.7791 16.8417 17.7799 16.8408 17.7802 16.8406C17.7809 16.8398 17.7817 16.839 17.1926 16.2795C16.6035 15.7199 16.6042 15.7192 16.6049 15.7184C16.6052 15.7181 16.6059 15.7173 16.6064 15.7168C16.6074 15.7158 16.6083 15.7148 16.6092 15.7138C16.6112 15.7119 16.613 15.7099 16.6149 15.7081C16.6184 15.7045 16.6219 15.7011 16.6251 15.6979C16.6317 15.6916 16.6376 15.6862 16.6428 15.6817C16.6532 15.6726 16.6609 15.6667 16.6659 15.6633C16.676 15.656 16.675 15.6585 16.6611 15.6639C16.6402 15.6721 16.5418 15.7069 16.3362 15.6735C15.9002 15.6027 14.9591 15.2178 13.4076 13.5843L12.2294 14.7034ZM10.5679 3.76634C9.46983 2.21329 7.2726 1.95128 5.94423 3.3498L7.12246 4.46891C7.68886 3.87259 8.68599 3.91943 9.24103 4.70447L10.5679 3.76634ZM20.8289 21.3823C20.5265 21.7006 20.2103 21.8711 19.9029 21.9014L20.0626 23.5186C20.8718 23.4387 21.5268 23.0071 22.0071 22.5014L20.8289 21.3823ZM11.6899 9.77126C12.738 8.66769 12.8122 6.94067 11.934 5.69845L10.6071 6.63658C11.0644 7.2834 10.9943 8.14398 10.5116 8.65214L11.6899 9.77126ZM21.9684 17.2922C22.8577 17.804 23.0316 19.0632 22.3678 19.762L23.546 20.8812C24.9598 19.3928 24.548 16.902 22.779 15.8838L21.9684 17.2922ZM18.2751 16.3195C18.6926 15.8799 19.3432 15.7811 19.8986 16.1008L20.7093 14.6925C19.5193 14.0075 18.0434 14.2039 17.0968 15.2005L18.2751 16.3195ZM13.2508 20.0875C12.1851 19.4178 11.0508 18.5116 9.88919 17.2886L8.71097 18.4077C9.96117 19.7239 11.1998 20.7178 12.3862 21.4633L13.2508 20.0875ZM19.9029 21.9014C19.3108 21.9599 18.3739 21.9745 17.2058 21.7299L16.8728 23.3205C18.2253 23.6037 19.3304 23.5909 20.0626 23.5186L19.9029 21.9014Z" fill="#22C3F3" />
            </svg>
        </a>
        <a href="#">
            <svg xmlns="http://www.w3.org/2000/svg" width="27" height="26" viewBox="0 0 27 26" fill="none">
                <path d="M13.5 10.8333C15.8932 10.8333 17.8333 8.89322 17.8333 6.49999C17.8333 4.10676 15.8932 2.16666 13.5 2.16666C11.1067 2.16666 9.16663 4.10676 9.16663 6.49999C9.16663 8.89322 11.1067 10.8333 13.5 10.8333Z" stroke="#C2CACF" stroke-width="2" />
                <path d="M16.75 22.333C15.7649 22.6004 14.663 22.75 13.5 22.75C9.3118 22.75 5.91663 20.8099 5.91663 18.4167C5.91663 16.0235 9.3118 14.0833 13.5 14.0833C17.6881 14.0833 21.0833 16.0235 21.0833 18.4167C21.0833 18.7908 21.0003 19.1538 20.8444 19.5" stroke="#C2CACF" stroke-width="2" stroke-linecap="round" />
            </svg>
        </a>
    </div>
    @RenderSection("Scripts", required: false)
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="/js/site.js"></script>
</body>

</html>
